[submodule "dependencies/OpenFBX"]
	path = dependencies/OpenFBX
	url = https://github.com/nem0/OpenFBX
[submodule "dependencies/msdf-atlas-gen"]
	path = dependencies/msdf-atlas-gen
	url = https://github.com/Chlumsky/msdfgen
[submodule "dependencies/bullet3"]
	path = dependencies/bullet3
	url = https://github.com/bulletphysics/bullet3
[submodule "dependencies/implot"]
	path = dependencies/implot
	url = https://github.com/epezent/implot
